@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url('/css/bootstrap.min.css');
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
@import url("http://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Satisfy");
@import url("http://fonts.googleapis.com/css?family=Lato:300");

body {
  padding-top: 120px;
  font-size: 16px;
  /* sticky footer height*/
  margin-bottom: 50px;
  padding-top: 120px;
}


html {
  position: relative;
  min-height: 100%;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

hr { display: block; height: 0.5px;
    border: 0; border-top: 1px solid #FFF;
    margin: 1em 0; padding: 0; }

h1, h2 { 
  padding-top: 70px; 
  margin-top: -70px;
  color:#ecf0f1; 
}

h2 {
 color: #ecf0f1;
 font-family: 'lato';
}

h3 {
 color: #000;
 font-family: 'lato';
}

p {
  font-family: 'lato';
  color:#FFF;
  font-size: 15px;
}

/* body full image*/

.body1 {
  background: url('/img/IMG_8635.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* body full image option
    background-size: 100% auto;
    */
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    margin-bottom: 50px;

}


.body2 {
  background: url('/img/IMG_8625.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* body full image option
    background-size: 100% auto;
    */
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    margin-bottom: 50px;
}

.body3 {
  background: url('/img/IMG_8655.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* body full image option
    background-size: 100% auto;
    */
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    margin-bottom: 50px;
}

.body4 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% auto;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'lato',Arial,Helvetica,Sans-Serif;
    margin-bottom: 50px;
}


/* Navbar */
.navbar-header>.navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #2980b9;
  font-size: 16px;
  font-family: 'lato';
}

.navbar-inverse {background-color: #FFF;}

ul.nav a:hover { 
  color: #bdc3c7 !important; 
}

#logo img { margin: 3px 0 3px 0;}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
	width: 100%;
	background-color: #FFF;
	height: 50px;
	border-top: 2px #FFFFFF solid;
}

.footer p{
	padding-top: 5px;
  color: #2980b9;
  font-size: 15px;
  font-family: 'Raleway';
}

.vcenterf {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
}


.pull-left img { margin-right: 20px; }


/* Contact form */

.input-prepend input.span12  {
  width: 930px;
}


.vcenter {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.textcenter {
  text-align: center;
}


.block-text { 
   color: white;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.75);
   padding: 18px;
   margin-bottom: 80px;
   -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; /* future proofing */
-khtml-border-radius: 5px; /* for old Konqueror browsers */
}


.ula {
  list-style-type: circle;
  font-family: 'Raleway';
}


/* masonry */

.item { width: 100%; }

/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .4s; /*adjust timing here */
         -moz-transition: opacity .4s;
           -o-transition: opacity .4s;
              transition: opacity .4s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 2;
    z-index: 2;
}



