body {
  padding-top: 120px;
  font-size: 18px;
  /* sticky footer height*/
  margin-bottom: 50px;
}

/* body full image*/

.body1 {
  background: url('/img/C_Ltrain.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.body2 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#CCC;
    background-color:#FFF;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.block {
  background-color:rgba(0,0,0,0.2);
    height:370px;
    padding-left:12px;
    padding-right:12px;
}




html {
  position: relative;
  min-height: 100%;
}


.vcenter {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

a, a:hover {
color: #00aaee;
}

h1, h2, h3 { padding-top: 70px; margin-top: -70px; }

h2 {
 color: #4E4F4A;
 font-family: Helvetica;
}

.ula {list-style-type: circle;}

.navbar-header>.navbar-brand, .navbar-inverse .navbar-nav>li>a {color: #2980b9;
  font-size: 16px;

}

#logo img { margin: 5px 0 3px 0;}

.navbar-inverse {background-color: #FFFFFF;}


.footer {
  position: absolute;
  bottom: 0;
	width: 100%;
	background-color: #FFF;
	height: 50px;
	border-top: 2px #FFFFFF solid;
}

.footer p{
	padding-top: 5px;
  color: #2980b9;
}

.vcenterf {
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}


.pull-left img { margin-right: 20px; }

.project img {margin-top: 20px; margin-bottom: 20px;}


/* Responsive */
@media (max-width: 767px) {
  .js-video {
    padding-top: 0;
  }
}

/* Contact form */

.input-prepend input.span12  {
  width: 930px;
}




